@import "../../../../../assets/style/variables.scss";

.categ-section {
    padding: 60px 40px 60px 60px;

    .categ-title {
        position: relative;

        &::after {
            position: absolute;
            content: "";
            width: 100%;
            height: 0;
            top: 50%;
            left: 0;
            border-top: 1px dashed $border-color;
            z-index: -1;
        }

        .title {
            font-size: calc(1.325rem + 0.9vw);
            line-height: 1.2;
            color: $grey-80;
            font-weight: 700;
            background-color: $text-color;
            padding-right: 1rem;
        }
    }

    .cat-product {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding-top: 20px;
        gap: 40px;

        .cat-product-info {
            text-decoration: none;

            .cat-description {
                background-color: $white;
                gap: 20px;
                padding: 0 10px 0 20px;

                .cat-name {
                    font-size: $font-size-24;
                    margin-bottom: 0.5rem;
                    line-height: 1.2;
                    color: $grey-80;
                }

                .cat-name-info {
                    color: #6C757D;
                    font-size: 18px;
                }

                &:hover {
                    background-color: $yellow;
                }
            }
        }

    }

}