@import "../../../../../assets/style/variables.scss";

.categ-section {
    padding: 60px 40px 60px 60px;

    .categ-title {
        .title {
            font-size: calc(1.325rem + 0.9vw);
            font-weight: 700;
        }
    }

    .cat-product {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding-top: 20px;
        gap: 40px;

        .cat-product-info {
            text-decoration: none;

            .cat-description {
                background-color: $white;
                gap: 20px;
                padding: 0 10px 0 20px;

                .cat-name {
                    font-size: $font-size-24;
                    margin-bottom: 0.5rem;
                    line-height: 1.2;
                    color: $grey-80;
                }

                .cat-name-info {
                    color: #6C757D;
                    font-size: 18px;
                }

                &:hover {
                    background-color: $yellow;
                }
            }
        }

    }

}