@import "../../../../../assets/style/variables.scss";
.description {
    background-color: hsl(0, 0%, 100%);
    margin-top: 40px;
    padding: 20px;
    gap: 20px;
    .descrip-title {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.2;
        color: $grey-80;
    }
    .descrip-text {
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #6C757D;
    }
}