@import "../../../../../assets/style/variables.scss";

.info-shop {
    padding: 60px 40px 60px 60px;
    gap: 40px;

    .info {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: $white;
        padding: 30px;
        gap: 20px;
        width: 100%;

        .info-icon {
            color: $yellow;
            font-size: calc(1.375rem + 1.5vw);
            font-weight: 900;
        }

        .info-text {
            font-size: $font-size-24;
            font-weight: 500;
            line-height: 1.2;
            color: $grey-80;
        }
    }

}