@import "../../../../../assets/style/variables.scss";

.filter {
    width: 40%;
    gap: 20px;

    .filter-title {
        position: relative;
        margin-bottom: 1rem;

        &::after {
            position: absolute;
            content: "";
            width: 100%;
            height: 0;
            top: 50%;
            left: 0;
            border-top: 1px dashed $border-color;
            z-index: -1;
        }

        .title {
            font-size: 20px;
            line-height: 1.2;
            color: $grey-80;
            font-weight: 700;
            background-color: $text-color;
            padding-right: 1rem;

        }
    }

    .filter-price {
        background-color: $white;
        padding: 20px;
        gap: 20px;

        .filter-box {
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #6C757D;

            .filter-input {
                gap: 10px;
            }
        }
    }
}