@import "../../../../../assets/style/variables.scss";

.filter {
    width: 40%;
    gap: 20px;
    .filter-price {
        background-color: $white;
        padding: 20px;
        gap: 20px;

        .filter-box {
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #6C757D;

            .filter-input {
                gap: 10px;
            }
        }
    }
}