.shop-detail-info {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;

    .icon {
        color: #FFD333;
        font-size: 20px;
    }


    .detail-title {
        font-size: 1.75rem;
        font-weight: 700;
        line-height: 1.2;
        color: #3D464D;
    }

    .detail-description {
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #6C757D;
    }

    .detail-info-size {
        display: flex;
        gap: 10px;

        .size-name {
            color: #3D464D;
            font-weight: bolder;
            font-size: 1rem;
            line-height: 1.5
        }

        .size {
            padding: 5px;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #6C757D;
        }
    }
    .detail-add {
        display: flex;
        gap: 20px;
        .detail-click {
            background-color: #FFD333;
            color: #3D464D;
            font-size: 24px;
            border: 1px solid transparent;
            padding: 0 0.75rem;
            height: 50px;
        }
        .detail-input {
            background-color: #F5F5F5;
            width: 50px;
            height: 50px;
            text-align: center;
            color: #495057;
         }
        .detail-add-btn {
            padding: 0 15px;
            background-color: #FFD333;
            color: #3D464D;
            height: 50px;
        }
     }
    
}