@import "../../../../assets/style/variables.scss";


.admin-nav {
    gap: 20px;
    padding: 10px;
    height: 100vh;
    background-color: $white;
    .admin-logo {
        border: 1px solid black;
        padding: 10px;
    }
    .admin-nav-section {
        display: flex;
        flex-direction: column;
        gap: 20px;
        .admin-link {
            padding-bottom: 10px;
            &:hover {
                border-bottom: 1px solid $yellow;
            }
            a {
                color: $grey-80;
            }
        }
    }
}

