@import "../../../../../assets/style/variables.scss";

.list-product-container {

    .list-product-box {
        border-bottom: 2px solid #919db3;
        padding: 10px;
        .list-product-img {
            width: 50px;
            height: 50px;
            object-fit: contain;
            border: 1px solid $text-color;
        }
        .list-product-info {
            padding: 10px;
            .list-product-info-name {
                color: $grey-80;
            }
        }
        .list-product-action {
            gap: 10px;
            .list-product-btn {
                border: 2px solid $yellow;
                padding: 10px;
            }
        }
    
     
    }
}
