@import "../../../../../assets/style/variables.scss";

.list-product-container {
    gap: 20px;
    .list-product-box {
        gap: 20px;
        border: 1px solid gray;
        border-radius: 5px;
        padding: 30px;
        height: 100%;
        width: 100%;
        .list-product-img {
            width: 200px;
            height: 100px;
            object-fit: contain;
            border: 1px solid $text-color;
        }
        .list-product-info {
            gap: 5px;
            padding: 10px;
            .list-product-info-name {
                color: $grey-80;
            }
        }
        .list-product-btn {
            padding: 10px;
            border: 2px solid $yellow;
        }
     
    }
}
