@import "../../assets/style/variables.scss";

.modal-container {
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 10;
    .modal {
      width: 500px;
      height: 500px;
      border-radius: 15px;
      background-color: $white;
      z-index: 20;
      padding: 10px;
      .modal-x {
        cursor: pointer;
        color: $grey-80;
      }
      .modal-title {
        color: $grey-80;
      }
      button {
        padding: 10px;
        color: black;
        font-size: 16px;
        border-radius: 5px;
        border: 1px solid $yellow;
      }
    }
  }
  
  
  .modal-bg {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 15;
  }
  
  .modal-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 20px;
    margin-top: 60px;
    border: 1px solid black;
  }

  .modal-body {
    display: flex;
    gap: 10px;
  }