@import "../../../../../assets/style/variables.scss";

.home-menu {
  padding: 40px 40px 40px 60px;
  gap: 30px;

  .home-slider {
    width: 65%;

    .slick-dots {
      li {
        list-style: none;
        bottom: 45px;
        margin: 0 10px;

        button {
          width: 20px;
          height: 20px;
          border: 1px solid $white;
          background: transparent;
          list-style: none;

          &::before {
            display: none;
          }

          &:hover {
            width: 35px;
            background-color: $white;
            transition: $transition;
          }
        }
      }
    }

  }

  .backgroundCarusel {
    background-size: cover;
    width: 100%;
    background-position: center;
    min-height: 430px;

    .home-menu-img {
      margin-top: 120px;
      color: $white;
      gap: 20px;

      .home-menu-title {
        font-size: 3.5rem;
        font-weight: 300;
        line-height: 1.2;
      }

      .home-menu-des {
        max-width: 400px;
        line-height: 1.2;
      }

      .home-menu-btn {
        padding: 10px 15px;
        color: $white;
        border: 1px solid $white;
      }
    }
  }
}

.home-offer {
    gap: 30px;
    width: 35%;
}