@import "../../assets/style/variables.scss";


.navbar {
    width: 100%;
    .navbar-box {
        gap: 50px;
        padding: 10px 40px;
        .link-container a {
            color: $white;
            font-size: $font-size-24;
            text-decoration: none;
        }   
    }
}
