@import "../../assets/style/variables.scss";


.navbar {
    width: 100%;
    padding: 0 20px;
    .navbar-box {
        gap: 30px;
        .link-container a {
            color: $white;
            font-size: $font-size-18;
            text-decoration: none;
        }   
    }
    .login-register {
        gap: 10px;
        .link-container a {
            color: $yellow;
            font-size: $font-size-18;
            text-decoration: none;
        } 
    }
 
    .icon-container {
        margin-top: 10px;
        gap: 10px;
        .basket {
            color: $yellow;
            font-size: 24px;
            cursor: pointer;
        }
        .box {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border: 1px solid $white;
            color: $white;
        }
    }
 
 

}
