@import "../../../../../assets/style/variables.scss";

.prod-section {
    padding: 60px 40px 60px 60px;

    .prod-title {
       .title {
            font-size: calc(1.325rem + 0.9vw);
            font-weight: 700;
         
        }
    }

    .product {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding-top: 20px;
        gap: 40px;

        .product-info {
            text-decoration: none;
            background-color: $white;
            padding: 10px;

            .prod-img {
                max-width: 100%;
            }

            .prod-description {
                text-align: center;

                .prod-name {
                    font-size: $font-size-24;
                    margin-bottom: 0.5rem;
                    line-height: 1.2;
                    color: $grey-80;
                }

                .prod-name-info {
                    color: #6C757D;
                    font-size: $font-size-18;
                }

                .prod-price {
                    margin-bottom: 0.5rem;
                    line-height: 1.2;
                    color: $grey-80;
                    margin-top: 10px;
                    font-size: $font-size-24;
                }

                .prod-icon {
                    color: $yellow;
                    font-size: $font-size-20;
                }
            }

        }
    }
}