@import "../../../../../assets/style/variables.scss";

.icon-section {
    gap: 20px;

    .icon-box {
        padding: 10px;
        background-color: $white;

        &:hover {
            color: #212529;
            background-color: #ececec;
            border-color: #e6e6e6;
        }
    }
}

.product {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 40px;
    gap: 40px;

    .product-info {
        text-decoration: none;
        background-color: $white;
        padding: 10px;

        .prod-img {
            max-width: 100%;
        }

        .prod-description {
            text-align: center;

            .prod-name {
                font-size: $font-size-24;
                margin-bottom: 0.5rem;
                line-height: 1.2;
                color: $grey-80;
            }

            .prod-name-info {
                color: #6C757D;
                font-size: $font-size-18;
            }

            .prod-price {
                margin-bottom: 0.5rem;
                line-height: 1.2;
                color: $grey-80;
                margin-top: 10px;
                font-size: $font-size-24;
            }

            .prod-icon {
                color: $yellow;
                font-size: $font-size-20;
            }
        }

    }
}