@import "../../../assets/style/variables.scss";

.checkout {
    padding: 60px;
    .billing-address {
        gap: 40px;
        background-color: $white;
        padding: 20px;
        .billing-address-box {
            gap: 10px;
            color: #6C757D;
        .address-input {
            padding: 10px;
            border: 1px solid $border-color;
            font-size: 16px;
            width: 300px;
        }
    }
}
}