@import "../../../assets/style/variables.scss";

.checkout {
    padding: 60px;

    .checkout-container {
        gap: 40px;


        .total-payment {

            width: 100%;

            .order-total-box {
                background-color: $white;
                padding: 20px;
                gap: 20px;

                .product-name {
                    color: #6C757D;
                }

                .product-name-border {
                    border-bottom: 1px solid $border-color;
                    padding-bottom: 20px;
                }

                .total-result {
                    font-size: 20px;
                }
            }
            .payment {
                margin-top: 20px;
                .payment-box {
                    background-color: $white;
                    padding: 20px;
                    gap: 20px;
                    .payment-text {
                        color: #6C757D;
                        margin-left: 10px;
                    }
                    .payment-btn {
                        width: 100%;
                        padding: 20px;
                        background-color: $yellow;
                    }
                }

            }
        }

    }
}