@import "../../../../assets/style/variables.scss";

.prod-title {
    position: relative;
    margin-top: 40px;
    margin-bottom: 40px;

    &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 0;
        top: 50%;
        left: 0;
        border-top: 1px dashed #bec5cb;
        z-index: -1;
    }
    .title {
        font-size: calc(1.325rem + 0.9vw);
        line-height: 1.2;
        color: $grey-80;
        font-weight: 700;
        background-color: $text-color;
        padding-right: 1rem;
    }
}

.product-info{
    background-color: $white;
    padding: 40px;
    margin: 0 20px;
   
    .prod-img {
        max-width: 100%;
    }
    .prod-description {
        text-align: center;
        .prod-name{
            font-size: $font-size-16;
            margin-bottom: 0.5rem;
            line-height: 1.2;
            color: $grey-80;
        }
        .prod-name-info {
            color: #6C757D;
            font-size: 18px;
        }
        .prod-price {
            margin-bottom: 0.5rem;
            line-height: 1.2;
            color: $grey-80;
            margin-top: 10px;
            font-size: $font-size-16;
        }
        .prod-icon {
            color: $yellow;
            font-size: $font-size-20;
        }
    }

    }