@import "../../../assets/style/variables.scss";

.contact {
    padding: 60px;

    .contact-title {
        margin-bottom: 20px;
        .title {
            font-size: calc(1.325rem + 0.9vw);
            font-weight: 700;
        }
    }

    .contact-info {
        gap: 20px;

        .map {
            width: 100%;
            margin-bottom: 20px;
            padding: 20px;
            background-color: $white;
        }

    }
}