@import "../../../assets/style/variables.scss";

.shop-cart {
    padding: 60px;

    .shop-cart-container {
     

        .cart {
            gap: 20px;

            .products-list {
                gap: 60px;
                background-color: $grey-80;
                color: $white;
                padding: 15px 15px 15px 80px;
                font-weight: 900;
            }

            .shop-product-info {
                gap: 30px;
                padding: 20px 60px 10px 60px;
                background-color: $white;

                .prod-image {
                    width: 50px;
                }

                .prod-info-text {
                    font-size: 1rem;
                    font-weight: 400;
                    line-height: 1.5;
                    color: #6C757D;
                }

                .delete {
                    background-color: red;
                    color: white;
                    width: 30px;
                    height: 30px;
                    margin-left: 40px;
                }
            }
        }

        .product-coupon {
            gap: 20px;

            .coupon-input {
                padding: 15px;
            }

            .coupon-btn {
                padding: 15px;
                background-color: $yellow;
            }

            .coupon-title {
                position: relative;
                margin-bottom: 20px;

                &::after {
                    position: absolute;
                    content: "";
                    width: 100%;
                    height: 0;
                    top: 50%;
                    left: 0;
                    border-top: 1px dashed $border-color;
                    z-index: -1;
                }

                .title {
                    font-size: $font-size-20;
                    line-height: 1.2;
                    color: $grey-80;
                    font-weight: 700;
                    background-color: $text-color;
                    padding-right: 1rem;
                }
            }
        }
    }
}