@import "../../../assets/style/variables.scss";

.shop-cart {
    padding: 60px;

    .shop-cart-container {


        .cart {
            gap: 20px;

            .products-list {
                gap: 60px;
                background-color: $grey-80;
                color: $white;
                padding: 15px 15px 15px 80px;
                font-weight: 900;
            }

            .shop-product-info {
                gap: 30px;
                padding: 20px 60px 10px 60px;
                background-color: $white;
                &:hover {
                    background-color: $blue-10;
                }

                .prod-image {
                    width: 50px;
                }

                .prod-info-text {
                    font-size: 1rem;
                    font-weight: 400;
                    line-height: 1.5;
                    color: #6C757D;
                }

                .delete {
                    background-color: red;
                    color: $white;
                    width: 30px;
                    height: 30px;
                    margin-left: 40px;
                }
            }
        }

        .product-coupon {
            gap: 20px;

            .coupon-input {
                padding: 15px;
            }

            .coupon-btn {
                padding: 15px;
                background-color: $yellow;
            }

            .total {
                padding: 40px 20px;
                background-color: $white;

                .coupon-total {
                    margin-bottom: 15px;
                    color: #6C757D;
                }

                .coupon-shipping {
                    border-bottom: 1px solid $border-color;
                    padding-bottom: 10px;
                }

                .coupon-total-result {
                    font-size: 20px;
                    font-weight: 600;
                }

                .btn-checkout {
                    width: 100%;
                }

            }
        }
    }
}