@import "../../../../assets/style/variables.scss";

.contact-register {
    width: 100%;

    .contact-input {
        border: 1px solid #ced4da;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: $contact-color;
        margin-bottom: 15px;
        width: 100%;
    }

    .textarea {
        height: 282px;
        width: 100%;
        resize: none;
    }

}

.contact-btn {
    background-color: $yellow;
    font-weight: 400;
    color: $grey-80;
    text-align: center;
    padding: 15px 25px;
    font-size: 1rem;
}