
.contact-register {
    width: 100%;
    
    .contact-input {
        border: 1px solid #ced4da;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        margin-bottom: 15px;
        width: 100%;
    }
    .textarea {
        height: 222px;
        width: 100%;
    }

}
.contact-btn {
    background-color: #FFD333;
    font-weight: 400;
    color: #3D464D;
    text-align: center;
    padding: 15px 25px;
    font-size: 1rem;
}
