@import "../../../../../../assets/style/variables.scss";

.shop-btn {
    .shop-btn-list {
        margin-top: 50px;
        .shop-btn-link.disabled {
            color: #6c757d;
            pointer-events: none;
            cursor: auto;
            background-color: $white;
            border-color: #dee2e6;
            padding: 0.5rem 0.75rem;
            border: 1px solid #dee2e6;
        }
        .shop-btn-link {
            color: $white;
            padding: 0.5rem 0.75rem;
            margin-left: -1px;
            line-height: 1.25;
            border: 1px solid #dee2e6;
            color: $yellow;
            &:hover {
                background-color: #dee2e6;
            }
        }
        .active {
            background-color: $yellow;
            border-color: $yellow;
            color: $white;
            &:hover {
                background-color: $yellow
            }
        }
        
    }
}