@import "../../assets/style/variables.scss";
.paragraf {
        width: 100%;
        background-color: $white;
        padding: 15px;
        color: $grey-80;
        margin-bottom: 1.5rem;
        display: flex;
    }
